.dashboard {
  &__title {
    @extend %title-48;
    margin-bottom: 40px;

    span {
      color: $clr-primary;
    }
  }

  &__subtitle {
    @extend %desc-18;
    margin-bottom: 77px;
  }

  &__grid {
    @extend %flex;
    column-gap: 31px;
  }

  &__left {
    flex-grow: 1;
  }

  &__right {
    flex-shrink: 0;
    min-width: 258px;
  }
}
