.dashboard {
  &__title {
    @extend %title-48;
    margin-bottom: 40px;

    span {
      color: $clr-primary;
    }
  }

  &__subtitle {
    @extend %desc-18;
    margin-bottom: 77px;
    @include xl {
      margin-bottom: 32px;
    }
  }

  &__grid {
    @extend %flex;
    column-gap: 31px;
    @include xl {
      column-gap: 18px;
    }
  }

  &__left {
    flex-grow: 1;
    min-width: 580px;
  }

  &__row {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    height: 263px;
    margin-top: 30px;
    @include xl {
      height: 180px;
      column-gap: 18px;
      margin-top: 20px;
    }
  }

  &__right {
    width: 100%;
    max-width: 258px;
  }
}
