@import './utils/variables';
@import './utils/responsives';

@import './shared/layout';
@import './shared/typo';

@import './base/fonts';
@import './base/reset';
@import './base/base';

@import './components/header';
@import './components/sidebar';
@import './components/widget-activity';

@import './pages/dashboard';
